<style>
    main {
        width: calc(100% - 230px);
        height: calc(100vh - 60px);
        left: 230px;
        top: 60px;
        overflow-y: scroll;
        position: relative;
    }
</style>

<main class="p-4">
    <%- body %>
</main>