<style>
    aside {
        width: 230px;
        height: calc(100vh - 60px);
        box-shadow: 2px 2px 4px lightgrey;
        overflow-y: scroll;
        position: fixed;
        top: 60px;
    }
</style>

<aside>
    <nav>
        <ul>
            <li>
                <a href="/member/register"> Member Registration </a>
            </li>
            <li>
                <a href="/member/list"> Member List </a>
            </li>
            <li>
                <a href=""> MENU03 </a>
            </li>
            <li>
                <a href=""> MENU04 </a>
            </li>
            <li>
                <a href=""> MENU05 </a>
            </li>
            <li>
                <a href=""> MENU06 </a>
            </li>
            <li>
                <a href=""> MENU07 </a>
            </li>
            <li>
                <a href=""> MENU08 </a>
            </li>
            <li>
                <a href=""> MENU09 </a>
            </li>
            <li>
                <a href=""> Build a Framework </a>
            </li>
        </ul>
    </nav>
</aside>
