<style>
    aside {
        width: 230px;
        height: calc(100vh - 60px);
        box-shadow: 2px 2px 4px lightgrey;
        overflow-y: scroll;
        position: fixed;
        top: 60px;
    }
</style>

<aside>
    <nav>
        <ul>
            <li>
                <a href="/member/register"> Member Registration </a>
            </li>
            <li>
                <a href="/member/list"> Member List </a>
            </li>
            <li>
                <a href="/relationship/view"> Relationship </a>
            </li>
            <!-- <li>
                <a href="/"> Church School (ing...) </a>
            </li>
            <li>
                <a href="/">Address Map (ing...) </a>
            </li>
            <li>
                <a href="/">Pastoral Invitation (ing...) </a>
            </li>
            <li>
                <a href="/"> Overseas Mission (ing...) </a>
            </li> -->
            <li>
                <a href="/system"> System </a>
            </li>
        </ul>
        </ul>
    </nav>
</aside>
