<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/common.js" type="module"></script>
    </head>

    <body>
        <div class="p-4">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
        </div>
    </body>
</html>
