.icons {
    /* invert() 함수는 주어진 이미지의 색을 반전 */
    filter: invert(100%);
}

.beta {
    color: gainsboro;
}
.must {
    color: red;
    padding: 5px;
}
.address-layer {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}
.image-preview {
    width: 180px;
    min-height: 120px;

    /* default text */
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
    border: 2px solid lightgrey;
    border-radius: 5px;
    color: lightgrey;
    font-weight: bold;
}
.image-preview__real {
    display: none;
    width: 100%;
}
.enlarge-image {
    /* display: block; */
    width: 100;
}

