/* icon */
.icons {
    /* invert() 함수는 주어진 이미지의 색을 반전 */
    filter: invert(100%);
}
.invert-40 {
    filter: invert(40%);
}

/* grey color */
.beta {
    color: gainsboro;
}
/* must input */
.must {
    color: red;
    padding: 5px;
}
/* search area */
.padding-TB__5em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* bold */
.bold {
    font-weight: bold;
}

/* daum post code layer */
.address-layer {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}
/* enlarge image */
.image-preview {
    width: 180px;
    min-height: 120px;

    /* default text */
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
    border: 2px solid lightgrey;
    border-radius: 5px;
    color: lightgrey;
    font-weight: bold;
}
.image-preview__real {
    display: none;
    width: 100%;
}
.enlarge-image {
    /* display: block; */
    width: 100;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* data table */
tbody tr:hover td {
    background-color: #fafafa;
}
.divTable {
    overflow: scroll;
}

/* flex */
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-item {
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex_bottom {
    align-self: flex-end;
}

/* aign */
.text-align {
    text-align: center;
}
.vertical-align {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* card */
.card li {
    color: #737373;
}
.card li img {
    filter: invert(40%);
}
.card li span {
    vertical-align: middle;
}

/* display */
.hide {
    display: none;
}
