/* global */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav > ul {
    padding-top: 1em;
    padding-left: 0;
}
nav > ul > li {
    padding: 20px;
}
nav > ul > li:hover {
    background-color: #f2f2f2;
}
nav > ul > li:hover > a {
    color: #1976d2;
}
nav > ul > li > a {
    padding-left: 1em;
    color: #595959;
}

/* a link */
a {
    color: aliceblue;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: aliceblue;
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

/* font */
.font08 {
    font-size: 8px;
}
.font10 {
    font-size: 10px;
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font24 {
    font-size: 24px;
}

/* bootstrap custom style */
.btn-primary,
.btn-primary:visited {
    background-color: #1976d2 !important;
    border-color: #1976d2;
}
.btn-primary:hover,
.btn-primary:active {
    background-color: #1566b7 !important;
    border-color: #1566b7;
}

.icons {
    /* invert() 함수는 주어진 이미지의 색을 반전 */
    filter: invert(100%);
}

/* features */
.beta {
    color: gainsboro;
}
.must {
    color: red;
    padding: 5px;
}
.addressLayer {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}
