<div class="row mb-3 pt-3">
    <div class="col-4">
        <nav class="padding-TB__5em bg-light">
            <div class="container">
                <form class="d-flex" id="groupForm">
                    <input class="form-control mr-2" type="text" name="name" placeholder="Please, fill group name" />
                    <button class="btn btn-outline-primary" type="button" id="btnSave">Register</button>
                </form>
            </div>
        </nav>
        <div class="row mb-3 pt-3">
            <div class="col flex_bottom">
                <div>[ Total : <span class="bold" id="groupCount"></span> ]</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div id="groupTable"></div>
                <div id="groupPagination"></div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card mb-3">
            <div class="card-header">Group Detail</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <nav class="padding-TB__5em bg-light">
                            <div class="container">
                                <form class="d-flex" id="groupDetailForm">
                                    <input class="form-control mr-2" type="text" name="name" placeholder="Please, fill name to relate" />
                                    <button class="btn btn-outline-primary" type="button">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="col-12">
                        <div class="row" id="groupSearchResult"></div>
                    </div>
                </div>
                <hr class="opacity01" />
                <p>Related <span id="selectedGroup" class="badge bg-primary"></span></p>
                <input type="hidden" id="selectedGroupId" />
                <div class="row" id="relatedGroup"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="groupModalLabel">Group Information</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="groupModalForm">
                    <input type="hidden" name="_id" />
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="col-form-label">Name</label>
                                <input type="text" class="form-control" name="name" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="col-form-label">Condition</label>
                                <select class="form-select form-select" name="valid">
                                    <option value="01">Use</option>
                                    <option value="02">Not used</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnEdit">Edit</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/relationship/group.js" type="module"></script>
