<div class="row mb-3 pt-3">
    <div class="col-4">
        <nav class="padding-TB__5em bg-light">
            <div class="container">
                <form class="d-flex" id="groupForm">
                    <input class="form-control mr-2" type="text" name="name" placeholder="Please, fill group " />
                    <button class="btn btn-outline-primary" type="button" id="btnSave">Register</button>
                </form>
            </div>
        </nav>
        <div class="row mb-3 pt-3">
            <div class="col flex_bottom">
                <div>[ Total : <span class="bold" id="GroupCount"></span> ]</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="divTable">
                    <div id="groupTable"></div>
                </div>
                <div id="groupPagination"></div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <hr />
    </div>
</div>

<script src="/js/relationship/group.js" type="module"></script>
