<div class="container">
    <div class="col-5 alert alert-danger" role="alert">
        [!] Please, fill in the required fields marked with *
    </div>
    <form id="joinForm">
        <div class="row">
            <div class="col-6">
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Name</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="name" placeholder="Harvey" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Contact</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="number" aria-label="contact1" class="form-control" name="contact1" placeholder="010" required>
                            <input type="number" aria-label="contact2" class="form-control" name="contact2" placeholder="1234" required>
                            <input type="number" aria-label="contact3" class="form-control" name="contact3" placeholder="5678" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Address1</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="address1" placeholder="click!! search button -->" aria-required="true" readonly>
                            <button class="btn btn-outline-secondary" type="button" id="btnSearch">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Address2</label>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="zipCode" placeholder="Zip Code" aria-required="true" readonly>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="address2" placeholder="Detail Address" required>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3"><b class="must">*</b>Gender</legend>
                        <div class="col-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" value="M" required>
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" value="W" required>
                                <label class="form-check-label">Female</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Birthday</label>
                    <div class="col-9">
                        <div class="input-group">
                            <select class="form-select form-select" name="birthYear" required>
                                <option value="">Year</option>
                            </select>
                            <select class="form-select form-select" name="birthMonth" required>
                                <option value="">Month</option>
                            </select>
                            <select class="form-select form-select" name="birthDay" required>
                                <option value="">Day</option>
                            </select>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3"><b class="must">*</b>Marital Status</legend>
                        <div class="col-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="married" value="Y" required>
                                <label class="form-check-label">Single</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="married" value="N" required>
                                <label class="form-check-label">Together</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">
                        <b class="must">*</b>Join Date
                    </label>
                    <div class="col-9">
                        <div class="input-group">
                            <select class="form-select form-select" name="joinYear" required>
                                <option value="">Year</option>
                            </select>
                            <select class="form-select form-select" name="joinMonth" required>
                                <option value="">Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row md-3">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Email</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="email" placeholder="harvey@gmail.com">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Job</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="job" placeholder="Software Developer">
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3">Baptism</legend>
                        <div class="col-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="baptism" value="Y">
                                <label class="form-check-label">Done</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="baptism" value="N">
                                <label class="form-check-label">Not yet</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Group</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="group">
                            <option selected>...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Role</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="role">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Service</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="service">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Attendance</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="attendance">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Image</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="file" class="form-control" name="imageFile" id="imageFile" accept="image/x-png, image/gif, image/jpeg">
                            <button class="btn btn-outline-secondary" type="button" id="btnRemove">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 offset-md-3">
                        <div class="image-preview" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview__real">
                            <span class="image-preview__text">Image Preview</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Daum Post Code API Layer -->
<div class="address-layer"></div>

<!-- enlarge Image -->
<div class="modal fade" id="enlargeImage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="Zoom In Image">
            </div>
        </div>
    </div>
</div>

<!-- Daum Post Code API -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="js/register.js" type="module"></script>