<div class="container pt-4">
    <h6>RelationShip</h6>
    <hr />
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-family-tab" data-toggle="tab" href="#nav-family" role="tab" aria-controls="nav-family" aria-selected="true">Family</a>
            <a class="nav-link" id="nav-position-tab" data-toggle="tab" href="#nav-position" role="tab" aria-controls="nav-position" aria-selected="false">Position</a>
            <a class="nav-link" id="nav-service-tab" data-toggle="tab" href="#nav-service" role="tab" aria-controls="nav-service" aria-selected="false">Service</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-family" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="col">
                <div class="row mb-3">
                    <div class="col">
                        <div id="dataTable" style="z-index: 9999"></div>
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="tab-pane fade" id="nav-position" role="tabpanel" aria-labelledby="nav-position-tab">Position</div>
        <div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">Service</div>
    </div>
</div>

<script src="/js/relationship.js" type="module"></script>
