<div class="container pt-4">
    <h6>System</h6>
    <hr />
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col-12">
                    <h6>
                        <strong>Register</strong> : Sunday Worship Attendance
                        <button type="button" class="btn btn-outline-primary ml-3" id="btnWorship">Worship</button>
                    </h6>
                </div>
                <div class="col-12">
                    <h6>
                        <strong>Register</strong> : Administrator
                        <button type="button" class="btn btn-outline-primary ml-3" id="btnAdmin">Admin</button>
                    </h6>
                </div>
                <div class="col-12">
                    <div id="adminTable"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h6>
                            <strong>Menu Information</strong>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="worshipAttendanceModal" tabindex="-1" aria-labelledby="worshipAttendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="worshipAttendanceModalLabel">Worship Attendance</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="worshipAttendanceModalForm">
                    <div class="row mb-3">
                        <label class="col-6 col-form-label"><b class="must">*</b>Worship(part1)</label>
                        <div class="col-6">
                            <input type="number" class="form-control" name="worship1" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-6 col-form-label"><b class="must">*</b>Worship(part2)</label>
                        <div class="col-6">
                            <input type="number" class="form-control" name="worship2" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-3 col-form-label"><b class="must">*</b>Date</label>
                        <div class="col-9">
                            <input type="date" class="form-control" name="date" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSaveWorship">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="administratorModal" tabindex="-1" aria-labelledby="administratorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="administratorModalLabel">Administrator</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <nav class="padding-TB__5em bg-light">
                            <div class="container">
                                <form class="d-flex" id="memberForm">
                                    <input class="form-control" type="text" name="name" placeholder="Please, fill name to register" />
                                </form>
                            </div>
                        </nav>
                    </div>
                    <div class="col-12">
                        <div class="row" id="memberSearchResult"></div>
                    </div>
                </div>
                <form id="administratorModalForm">
                    <div class="row mb-3">
                        <label class="col-form-label"><b class="must">*</b>Name</label>
                        <div class="col-12">
                            <input type="hidden" class="form-control" name="memberId" />
                            <input type="text" class="form-control" name="name" readonly />
                        </div>
                        <label class="col-form-label"><b class="must">*</b>Contact</label>
                        <div class="col-12">
                            <input type="text" class="form-control" name="contact" readonly />
                        </div>
                        <label class="col-form-label"><b class="must">*</b>Level</label>
                        <div class="col-12">
                            <select class="form-select" name="level">
                                <option value="">...</option>
                                <option value="01">System Manager</option>
                                <option value="02">Group Manager</option>
                                <option value="03">Pastor</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSaveAdmin">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/system.js" type="module"></script>
