<div class="container pt-4">
    <h6>Register</h6>
    <hr />
    <div class="col-5 alert alert-danger" role="alert">
        <div>[!] Please, fill in the required fields marked with *</div>
    </div>
    <form id="joinForm">
        <div class="row">
            <div class="col-6">
                <input type="hidden" name="id" readonly />
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Name</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="name" placeholder="Harvey" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Contact</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="contact1" placeholder="010" maxlength="3" />
                            <input type="text" class="form-control" name="contact2" placeholder="1234" maxlength="4" />
                            <input type="text" class="form-control" name="contact3" placeholder="5678" maxlength="4" />
                        </div>
                        <input type="hidden" name="contact" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Address1</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="address1" placeholder="click!! search button -->" aria-="true" readonly />
                            <button class="btn btn-outline-secondary" type="button" id="btnSearch">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Address2</label>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-3">
                                <input type="text" class="form-control" name="zipCode" placeholder="Zip Code" aria-="true" readonly />
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="address2" placeholder="Detail Address" />
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3"><b class="must">*</b>Gender</legend>
                        <div class="col-9" id="divGender">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" value="M" />
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" value="W" />
                                <label class="form-check-label">Female</label>
                            </div>
                        </div>
                        <div class="col-9 hide" id="viewGender">
                            <input type="text" class="form-control" readonly />
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Birthday</label>
                    <div class="col-9" id="divBirthday">
                        <div class="input-group">
                            <select class="form-select form-select" name="birthYear">
                                <option value="">Year</option>
                            </select>
                            <select class="form-select form-select" name="birthMonth">
                                <option value="">Month</option>
                            </select>
                            <select class="form-select form-select" name="birthDay">
                                <option value="">Day</option>
                            </select>
                        </div>
                        <input type="hidden" name="birthday" />
                    </div>
                    <div class="col-9 hide" id="viewBirthday">
                        <input type="text" class="form-control" readonly />
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3"><b class="must">*</b>Marital Status</legend>
                        <div class="col-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="married" value="Y" />
                                <label class="form-check-label">Single</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="married" value="N" />
                                <label class="form-check-label">Together</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Family</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="family">
                            <option value="temp value">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Faith State</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="faithState">
                            <option value="temp value">...</option>
                            <option value="01">new face</option>
                            <option value="02">come from other</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label"><b class="must">*</b>Join Date</label>
                    <div class="col-9" id="divJoinDate">
                        <div class="input-group">
                            <select class="form-select form-select" name="joinYear">
                                <option value="">Year</option>
                            </select>
                            <select class="form-select form-select" name="joinMonth">
                                <option value="">Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-9 hide" id="viewJoinDate">
                        <input type="text" class="form-control" readonly />
                    </div>
                </div>
                <div class="row md-3">
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                        <button type="button" class="btn btn-primary hide" id="btnEdit">Edit</button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Email</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="email" placeholder="harvey@gmail.com" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Job</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="job" placeholder="Software Developer" />
                    </div>
                </div>
                <fieldset>
                    <div class="row mb-3">
                        <legend class="col-form-label col-3">Baptism</legend>
                        <div class="col-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="baptism" value="Y" />
                                <label class="form-check-label">Done</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="baptism" value="N" />
                                <label class="form-check-label">Not yet</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Group</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="group">
                            <option selected>...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Role</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="role">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Service</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="service">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Attendance</label>
                    <div class="col-9">
                        <select class="form-select form-select" name="attendance">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label">Image</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input type="file" class="form-control overflow-hidden" name="imageFile" id="imageFile" accept="image/x-png, image/gif, image/jpeg" />
                            <button class="btn btn-outline-secondary" type="button" id="btnRemove">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 offset-md-3">
                        <div class="image-preview" id="imagePreview">
                            <a href="#">
                                <img src="" alt="Image Preview" class="image-preview__real" />
                            </a>
                            <span class="image-preview__text">Image Preview</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Daum Post Code API Layer -->
<div class="address-layer"></div>

<!-- enlarge Image -->
<div class="modal fade" id="enlargeImage" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="Zoom In Image" />
            </div>
        </div>
    </div>
</div>

<script src="/js/member/register.js" type="module"></script>

<!-- Daum Post Code API -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
