<div class="container p-4">
    <div class="row">
        <div class="col">
            <h6>Member Detail</h6>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem">
                <img src="/uploads/Harvey_19860820.jpeg" class="card-img-top" id="imagePath" />
                <div class="card-body">
                    <h5 class="card-title">Harvey Moon / <b>(35)</b></h5>
                    <p class="card-text">harvey wants to serve for God <br />in his all life</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1986/08/20</li>
                    <li class="list-group-item">010-7131-2258</li>
                    <li class="list-group-item">harveymoons@gmail.com</li>
                    <li class="list-group-item">Anyang, Korea</li>
                    <li class="list-group-item">software developer</li>
                    <li class="list-group-item">Not married yet</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
