<div class="container pt-4">
    <div class="row">
        <div class="col">
            <h6>Member Detail</h6>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 300px">
                <div>
                    <img src="/uploads/blank_profile.png" class="card-img-top" id="imagePath" />
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="title"></h5>
                    <p class="card-text">harvey wants to serve for God <br />in his all life</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="/img/icons/calendar-check.svg" alt="" width="20" height="20" />
                        <span id="birthday" class="vertical_align"></span>
                    </li>
                    <li class="list-group-item" id="contact"></li>
                    <li class="list-group-item" id="address"></li>
                    <li class="list-group-item" id="married"></li>
                    <li class="list-group-item" id="joinDate"></li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/member/view.js" type="module"></script>
